<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="12" size-lg="3">
              <img alt="Silhouette of mountains"
                src="https://cdn.carrosp.com.br/img/6/full/volkswagen-fusca-1975-santa-barb-f1543d591104a3435d63aefe5237014f.jpg" />
            </ion-col>
            <ion-col size="8">


              <ion-list>
                <ion-item>
                  <ion-label class="titulo">Joaninha</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>cor Marom</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>R$ 37.000</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>1.6 bi turbo </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>1959 fabricação</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Motor</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>1989 Modelo</ion-label>
                </ion-item>
              </ion-list>
              <ion-button (click)="modal.dismiss()" expand="block">Comfirmar compra</ion-button>



            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
          <ng-template>
            <ion-toolbar>
              <ion-buttons>
                <ion-button (click)="modal.dismiss()">Comfirmar</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-content class="ion-padding">

            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>