// * {
//     outline: 1px solid red;
// }
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    // flex-direction: column;
}

ion-row {
    width: 100%;
}