

<ion-content [fullscreen]="true">
    <div class="container">
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-text-center" size=12>
                <img src="https://gifdb.com/images/high/animated-green-verified-check-mark-k3et2jz52jyu2v22.gif" alt="">
            </ion-col>
            <ion-col class="ion-text-center" size=12>
                <h1>Compra Confirmada</h1>
            </ion-col>
            <ion-col class="ion-text-center alinhamento" size=12>
                <h2> Para mais informacões no Número: (15)99692-4591</h2>
                <img src="../../assets/wb.jpg" width="55px">
            </ion-col>

            <ion-col class="ion-text-center alinhamento" size=12>
                <a href="http://https://api.whatsapp.com/send?phone=55996924591&text=Ol%C3%A1,%20acabei%20de%20encomendar%20meu%20fusca%20atrav%C3%A9s%20do%20site!!!">Conversar agora</a>
            </ion-col>

        </ion-row>
    </div>
</ion-content>
