<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-row>
        <ion-col>
          <ion-card>
            <img class="img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM8IOdmbcMETX-d2G1Zafeq0MR7XwhLVPq8A&usqp=CAU" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card>
            <img class="img" src="https://i.pinimg.com/originals/4e/48/8d/4e488de08887b6d5fcf4d3bd7fd00e4f.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card class="img">
            <img
              src="https://2.bp.blogspot.com/-QQnspH8Yq08/WIapMBNr5eI/AAAAAAAAbt8/VjQ_weRGNt4qFFVfF2hkekp9ahF9gvuJQCEw/s1600/15492372_1000543356717645_3532322478008374586_n.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card>
            <img class="img" src="https://wallpaperaccess.com/full/1553958.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card>
            <img class="img" src="https://wallpaperaccess.com/full/1553967.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card class="img">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMbZlV8F1B2jm7nyeWGvaUtTzaANAQuWF0xjuFa5CvU8y6HgdGRkf2kKSJ1I69owGPlEQ&usqp=CAU" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card>
            <img class="img" src="https://i.pinimg.com/originals/80/fd/f1/80fdf1dc3845f221c86e689e001b0b32.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card>
            <img class="img" src="https://i.pinimg.com/736x/fc/bb/b4/fcbbb43bb582af00b19bdbf97f69bad4.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card class="img">
            <img
              src="https://conteudo.imguol.com.br/c/entretenimento/ba/2020/11/12/fusca-estilizado-1605201387940_v2_4x3.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card>
            <img class="img"
              src="https://images.pexels.com/photos/2303378/pexels-photo-2303378.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card>
            <img class="img"
              src="https://images.pexels.com/photos/15198593/pexels-photo-15198593/free-photo-of-volkswagen-beetle-beetle-fusca-automovel.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card class="img">
            <img
              src="https://images.pexels.com/photos/9501808/pexels-photo-9501808.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
          </ion-card>
        </ion-col>     
      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>
