<ion-content [fullscreen]="true">
  <div class="grupo-login">

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="3">
        <ion-card>
          <form #loginForm="ngForm" (ngSubmit)="realizarLogin(loginForm.value)">
            <ion-item lines="none">
              <ion-label><h1>Login</h1></ion-label>
            </ion-item>
            <ion-item>
              <ion-input label="Usuário" name="email" ngModel type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Senha" name="password" ngModel type="password"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-button slot="end" type="submit">
                <ng-container *ngIf="this._authenticate.isLoading">
                  <ion-spinner></ion-spinner>
                </ng-container>
                <ng-container *ngIf="!this._authenticate.isLoading">
                  Login
                </ng-container>
              </ion-button>
            </ion-item>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
