<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="12" size-lg="3">
              <img alt="Silhouette of mountains"
                src="https://fotos.jornaldocarro.estadao.com.br/uploads/2018/06/30151604/41545551-1160x773.jpg" />
            </ion-col>
            <ion-col size="8">


              <ion-list>
                <ion-item>
                  <ion-label class="titulo">Escaravelho</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>cor preto</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>R$ 78.000</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label> 31 segundos </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>1959 fabricação</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>nenhuma Modificacão</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>1989 Modelo</ion-label>
                </ion-item>
              </ion-list>
              <ion-button (click)="modal.dismiss()" expand="block">Comfirmar compra</ion-button>



            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
          <ng-template>
            <ion-toolbar>
              <ion-buttons>
                <ion-button (click)="modal.dismiss()">Comfirmar</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-content class="ion-padding">

            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>