<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="12" size-lg="3">
              <img alt="Silhouette of mountains"
                src="https://i.pinimg.com/originals/e3/e3/13/e3e31364b4befa1c3a15582330d5837d.jpg" />
            </ion-col>
            <ion-col size="8">


              <ion-list>
                <ion-item>
                  <ion-label class="titulo">Formato de Bolha</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>cor Vermelho foi para Rosaclaro </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>R$ 24.000</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>1.13 bi turbo </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>1959 fabricação</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Motor,carroceria,pintura</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>1989 Modelo</ion-label>
                </ion-item>
              </ion-list>
              <ion-button  id="present-alert" expand="block">Comfirmar compra</ion-button>



            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-alert
          trigger="present-alert"
          header="Compra"
          [buttons]="alertButtons"
          [inputs]="alertInputs"
          ></ion-alert>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
