<ion-content [fullscreen]="true">
  <!-- CONECTADO -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <h1>História do Fusca</h1>
            </ion-card-title>
            <ion-row class="ion-justify-content-center">
              <ion-col size="4">
                <ion-button routerLink="/fotos" expand="full">Fotos</ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button routerLink="/cadastrar-veiculo" expand="full">Cadastrar seu veiculo</ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button routerLink="/registro" expand="full">Voltar</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-row>
            <ng-container *ngFor="let veiculo of this.veiculos">
              <ion-col size="12" size-lg="6">
                <ion-card (click)='exibir(veiculo)' routerLink="/fusca1">
                  <img src="{{ veiculo.imagem }}" class="imagem-fusca" />
                  <ion-card-header>
                    <ion-card-title>{{this.veiculo.nome}}</ion-card-title>
                    <ion-card-subtitle>{{this.veiculo.valor}}</ion-card-subtitle>
                  </ion-card-header>


                </ion-card>

              </ion-col>
            </ng-container>


            <!-- <ion-card
                  (click) = 'exibir(veiculo)'
                  class="imagem-fusca" 
                  routerLink="/fusca1"
                  [ngStyle]="{'background': ' url('+ veiculo.imagem +') no-repeat center center / cover'}"
                  >
                  
                  <ion-row>
                    <ion-col>
                      <ion-card>
                        <ion-card-header>
                          <ion-card-title>{{this.veiculo.nome}}</ion-card-title>
                          <ion-card-subtitle>{{this.veiculo.valor}}</ion-card-subtitle>
                        </ion-card-header>
                      </ion-card>
                    </ion-col>
                  </ion-row>

                </ion-card> -->

            <!-- <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>História do Fusca</ion-card-title>
              <ion-button routerLink="/fotos">Fotos</ion-button>
              <ion-button routerLink="/cadastrar-veiculo">Cadastrar seu veiculo</ion-button>
              <ion-button routerLink="/registro">voltar</ion-button>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row> -->

            <!-- <ion-col size="12" size-lg="6">
              <ion-card class="imagem-fusca imagem1" routerLink="/fusca1"></ion-card>
            </ion-col>

            <ion-col size="12" size-lg="6">
              <ion-card class="imagem-fusca imagem2" routerLink="/fusca2"></ion-card>
            </ion-col>

            <ion-col size="12" size-lg="6">
              <ion-card class="imagem-fusca imagem3" routerLink="/fusca3"></ion-card>
            </ion-col>

            <ion-col size="12" size-lg="6">
             <ion-card class="imagem-fusca imagem4" routerLink="/fusca4"></ion-card>
            </ion-col>

            <ion-col size="12" size-lg="6">
              <ion-card class="imagem-fusca imagem5" routerLink="/fusca5"></ion-card>
            </ion-col>

            <ion-col size="12" size-lg="6">
              <ion-card class="imagem-fusca imagem6" routerLink="/fusca6"></ion-card>
            </ion-col>

            <ion-col size="12" size-lg="6">
              <ion-card class="imagem-fusca imagem7" routerLink="/fusca7"></ion-card>
            </ion-col>

            <ion-col size="12" size-lg="6">
              <ion-card class="imagem-fusca imagem8" routerLink="/fusca8"></ion-card>
            </ion-col>

            <ion-col size="12" size-lg="6">
              <ion-card class="imagem-fusca imagem9" routerLink="/fusca9"></ion-card>
            </ion-col> -->

          </ion-row>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>








</ion-content>