.altura {
  height: 40vh;
  border-radius: 15px;
}

.margem {
  padding: 15px;
}

ion-card {
  width: 758px;
  height: 446px;
  border-radius: 15px;
}
.titulo{
  color: #050505;
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}