.altura {
  height: 40vh;
  border-radius: 15px;
}

.margem {
  padding: 15px;
}

ion-card {
  height: 500px;
  border-radius: 15px;

}
.conteudo{
  padding-right: 15px;
}

.titulo {
  color: #050505;
  font-family: 'Roboto Slab', serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.auto{
  height: auto;
}
ion-item{
  --background: none;
}
ion-content {
  --background: aliceblue;
}
