/* Estilo para ion-header */
ion-header {
    --background: transparent; /* Define o fundo do cabeçalho como transparente */
    border-bottom: none; /* Remove a borda inferior do cabeçalho */
  }
  
  /* Estilo para ion-toolbar no cabeçalho */
  ion-toolbar {
    --ion-color-base: #00b3e0; /* Cor do texto no cabeçalho */
    background: linear-gradient(to right, #00b3e0, #05a8d1); /* Gradiente de fundo */
  }
  
  /* Estilo para ion-title no cabeçalho */
  ion-title {
    font-size: 2rem; /* Tamanho da fonte do título */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    font-weight: bold; /* Define a fonte como negrito */
    color: #fff; /* Cor do texto no título */
  }
  
  /* Estilo para ion-button */
  ion-button {
    --background: #05a8d1; /* Cor de fundo do botão */
    --border-radius: 20px; /* Borda arredondada do botão */
    --color: #fff; /* Cor do texto no botão */
    font-weight: bold; /* Define a fonte como negrito */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    margin: 10px 0; /* Espaçamento externo do botão */
  }
  
  /* Estilo para ion-spinner */
  ion-spinner {
    color: #05a8d1; /* Cor do spinner */
  }
  
  /* Estilo para ion-label */
  ion-label {
    font-size: 1.5rem; /* Tamanho da fonte do label */
    font-weight: bold; /* Define a fonte como negrito */
    color: #333; /* Cor do texto no label */
  }
  
  /* Estilo para ion-input */
  ion-input {
    border: 1px solid #ccc; /* Borda do input */
    border-radius: 5px; /* Borda arredondada do input */
    padding: 5px; /* Espaçamento interno do input */
    font-size: 1rem; /* Tamanho da fonte do input */
    color: #333; /* Cor do texto no input */
  }
  
  /* Estilo para ion-row */
  ion-row {
    justify-content: center; /* Centraliza os elementos na linha horizontalmente */
  }
  
  /* Estilo para ion-col */
  ion-col {
    text-align: center; /* Centraliza o conteúdo das colunas horizontalmente */
  }
  
  /* Estilo para ion-item */
  ion-item {
    border: none; /* Remove a borda dos itens */
    margin-bottom: 10px; /* Espaçamento inferior dos itens */
  }
  
  /* Estilo para o formulário */
  form {
    margin: 0; /* Remove a margem padrão do formulário */
  }
  
  /* Estilo para input de arquivo */
  input[type="file"] {
    display: none; /* Esconde o input de arquivo padrão */
  }
  
  /* Estilo para a imagem do arquivo */
  img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
  }
  
  