<ion-content [fullscreen]="true">
  <ion-row class="container">
    <ion-col size="12" size-lg="4">
      <ion-card>
        <form #criarContaForm="ngForm" (ngSubmit)="criarConta(criarContaForm.value)">
          <ion-item lines="none">
            <ion-label><h1>Criar Conta</h1></ion-label>
          </ion-item>
          <ion-item>
            <ion-input label="Usuário" name="email" ngModel type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Senha" name="password" ngModel type="password"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-button color="primary" slot="end" type="submit">Cadastrar</ion-button>
          </ion-item>
        </form>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>