.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

ion-card {
  border-radius: 15px;
}

form {
  min-width: 400px;
}

ion-item {
  margin-bottom: 15px;
  border: none;
}

ion-label {
  font-size: 2rem !important;
  font-weight: bold;
  color: #333;
}

ion-input {
  border-radius: 5px;
  padding: 12px;
  font-size: 1.2rem;

}

ion-button {
  --border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  transform: scale(1.03);

}

ion-content {
  --background: url('https://images.alphacoders.com/454/454018.jpg') no-repeat center center / cover;
}